body {
  color: rgb(9, 59, 59);
  background: rgb(5, 232, 248);
  margin: 0px;
  font-family: "Playwrite Deutschland Schulausgangschrift", sans-serif;
  margin-bottom: 100px;
}

header {
  border-bottom: solid 2px rgb(100, 9, 185);
  padding: 20px;
  font-size: 32px;
  color: rgb(130, 47, 208);
}

.chamada{
  background: rgb(130, 47, 208);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 5%;
}
h1{
  font-size: 40px;;
}
p{
  font-size: 20px;
} 
.categoria-video{
  display:flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria{
  padding-left: 20px; 
  padding-right:20px;
  margin-top: 50px;
  }

.categoria-video img{
  opacity: 0.5;
  height: 200px;

}
.categoria-video img:houver{
  opacity: 1.0;
  border: 1px solid lightpink;
}
.categoria h2{
  color: brown;
}